* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

@font-face {
    font-family: "roboto";
    src: url("fonts/roboto/Roboto-Black.ttf");
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background: linear-gradient(211.79deg, #2B8BE3 6.12%, #663FB5 90.47%), url("../images/svg/diamond.svg");
    mix-blend-mode: normal;
    opacity: 0.8;
}

.navigation{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.navigation__logo{
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 35px;  
}

.navigation__main{
    float: right;
    width: 450px;
    height: 24px;
    margin-top: 57px;
}

.navigation__main--info{
    border-bottom: 2px solid #e3dedb;
}

.navigation__main a:link{
    color: white;
    text-decoration: none;
}

.navigation__main a:visited{
    color: white;
}

.navigation__main a:hover{
    color: wheat;
}

.navigation__main a:active{
    color: white;
}

.navigation__main ul{
    list-style: none;
    font-family: "roboto";
    font-size: 15px;    
}

.navigation__main li{
    display: inline;
    margin-right: 34px;
}

.navigation__main li{
    display: inline;
    margin-right: 34px;
}

.header__center__items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header__center__items__title{
    font-family: sans-serif
}

.header__center__items__title h1{
    font-size: 80px;
    color: white;
}

.header__center__items__title h2{
    font-size: 26px;
    padding-left: 10px;
    color: white;
}

.header__center__items__button{
    padding-left: 230px;
    padding-top: 65px;
}

.header__center__items__button button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-0%);

    width: 236px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    
    font-family: "roboto";
    font-size: 13px;
    color: #6B59B4;
}

.header__center__items__button img{
    float: left;
    padding-left: 30px;
}

.header__center__items__button--position{
    float: right;
    padding-right: 38px;
    padding-top: 3px;
}

.header__social {
    position: absolute;
    top: 95.8%;
    left: 50%;
    transform: translate(-50%,-4.2%);
}

.header__social ul{
    list-style: none;
}

.header__social li{
    display: inline;
    color: white;
    font-family: sans-serif;
}

.header__social__twitter{
    padding-right: 25px;
    border-right: 2px solid #e3dedb;
}

.header__social__linkedin{
    padding-right: 25px;
    padding-left: 15px;
    border-right: 2px solid #e3dedb;
}

.header__social__facebook{
    padding-left: 15px;
}

.intro{
    position: relative;
    background-color: #F4F5F7;
    height: 236px;
}

.intro__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro__text h2 {
    font-family: sans-serif;
    font-size: 28px;
    color: #424753;
}

.intro__text h3 {
    font-family: sans-serif;
    font-size: 16px;
    color: #424753;
}

.statistics{
    background-color: #FFFFFF;
    padding-top: 69px;
}

.statistics__wrapper{
    margin: 0 auto;
    height: 523px;
    width: 1140px;
    position: relative;
}

.statistics__writings{
    float: left;
    height: 350px;
    width: 369px;
    background-color: white;
    margin-right: 15px;
}

.statistics img{
    padding-left: 135px;
    padding-bottom: 26px;
}

.statisticis__text{
    text-align: center;
    font-family: "roboto";
}

.statisticis__text h2{
    padding-bottom: 18px;
    color: #424753;
    font-size: 36;
}

.statisticis__text h3{
    padding-bottom: 31px;
    color: #424753;
    font-size: 16;
}

.statisticis__text p{
    padding-bottom: 31px;
    color: #424753;
    font-size: 16;
}

.statistics__line{
    width: 261px;
    height: 37px;
    border-top: 2px solid #e3dedb;
    margin-left: 50px;
}

.statistics__achievements{
    float: left;
    height: 350px;
    width: 369px;
} 

.statistics__likes{
    float: left;
    height: 350px;
    width: 369px;
    margin-left: 15px;
}

.subscription{
    background-color: #F4F5F7;
    padding-top: 96px;
}

.subscription__offers{
    position: relative;
    width: 1140px;
    height: 776px;
    margin: 0 auto;
}

.subscription__title{
    margin-left: 400px;
    margin-bottom: 77px;
}

.subscription__title h2{
    font-family: "roboto";
    font-size: 28px;
    color: rgba(66, 71, 83, 0.8);
}

.subscription__offers__article__center{
    float: left;
    width: 416px;
    background-color: white;
    border: 2px solid rgba(108, 89, 180, 0.75);
    position: sticky;   
    z-index: 1;
    padding-bottom: 32px;
}

.center__article__title{
    text-align: center;
    height: 45px;
    width: 416px;
    background-color:rgba(108, 89, 180, 0.75);
    color: white;
    padding-top: 16px;

}

.center__article__descripition h3{
    margin-top: 31px;
    margin-bottom: 21px;
    margin-left: 73px;
    text-align: center;
    font-family: "roboto";
    font-size: 16px;
    width: 270px;
    color: #424753;
}

.center__article__price{
    width: 420px;
    height: 116px;
}

.center__article__price h1{
    font-size: 68px;
    float: left;
    margin-bottom: 30px;
    color: #424753;

}

.center__article__price h2{
    margin-top: 39px;
    float: left;
    margin-left: 135px;
    margin-right: 6px;
    font-size: 28px;
    color: #424753;

}

.center__article__price h3{
    margin-top: 85px;
    float: left;
    font-size: 13px;
    color: rgba(66, 71, 83, 0.8);
    font-family: "roboto";
}

.center__article__specs__item{
    text-align: center;
    margin-bottom: 21px;
}

.center__article__specs__item h3{
    margin-bottom: 28px;
    font-size: 16px;
    color: #424753;
    font-family: "roboto";
}

.center__article__line{
    width: 361px;
    border-top: 2px solid #e3dedb;
    margin-left: 30px;
}

.center__article__subscribe__button button{
    margin-top: 60px;
    margin-left: 90px;
    width: 236px;
    height: 60px;
    border: 2px solid rgba(108, 89, 180, 0.75);
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #6C59B4;
    color: white;
    font-family: "roboto";
}

.subscription__offers__article{
    font-family: "roboto";
    margin-top: 23px;
    float: left;
    width: 360px;
    padding-bottom: 32px;
    background-color: #FFFFFF;
}

.article__title{
    text-align: center;
    background-color: #ECEFF3;
    width: 100%;
    color: rgba(66, 71, 83, 0.8);
    padding-top: 19px;
    padding-bottom: 19px;
}

.article__descripition h3{
    margin-top: 31px;
    margin-bottom: 21px;
    width: 270px;
    margin-left: 44px;
    text-align: center;
    font-size: 16px;
    font-family: "roboto";
    color: #424753;

}

.article__price{
    width: 420px;
    height: 116px;
}

.article__price h1{
    font-size: 68px;
    float: left;
    margin-bottom: 30px;
    color: #424753;

}

.article__price h2{
    margin-top: 39px;
    float: left;
    margin-left: 107px;
    margin-right: 6px;
    font-size: 28px;
    color: #424753;

}

.article__price h3{
    margin-top: 85px;
    float: left;
    font-size: 13px;
    font-family: "roboto";
    color: rgba(66, 71, 83, 0.8);
}

.article__specs__item{
    text-align: center;
    margin-bottom: 21px;
}

.article__specs__item h3{
    margin-bottom: 28px;
    font-size: 16px;
    color: #424753;
    font-family: "roboto";
}

.article__line{
    width: 300px;
    border-top: 2px solid #e3dedb;
    margin-left: 30px;
}

.article__subscribe__button button{
    margin-left: 70px;
    width: 236px;
    height: 60px;
    border: 2px solid rgba(108, 89, 180, 0.75);
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #FFFFFF;
    color: rgba(108, 89, 180, 0.75);
    font-family: "roboto";
}

.quotes{
    width: 100%;
    background: linear-gradient(200.09deg, #2B8BE3 6.12%, #663FB5 90.47%);
    mix-blend-mode: normal;
    opacity: 0.8;
    padding-bottom: 40px;
}

.quotes__wrapper{
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.quotes__text__ball{
    background-image: url("/images/svg/ball.svg") no-repeat;
    padding-left: 47%;
    padding-top: 90px;
}

.description__text{
    width: 856px;   
    text-align: center;
    margin-left: 136px;
    margin-top: 21px;

    h2{    
        font-size: 28px;
        font-family: "roboto";
        color: #FFFFFF;
    }
}

.description__author{
    margin-left: 530px;
    margin-top: 27px;
    h4{
        font-size: 16px;
        font-family: "roboto";
        color: #FFFFFF;
    }

    &__line{
        border-bottom: 2px solid white;
        width: 42px;
        margin-left: 25px;
        margin-top: 7px;
        opacity: 0.2;
    }
}

.quotes__balls{
    margin-top: 76px;
    margin-left: 427px;
}


.featured{
    width: 100%;
    padding-bottom: 182px;
    &__wrapper{
        width: 1140px;
        margin: 0 auto;
    }
}

.featured__text{
    height: 308px;
    margin-bottom: 87px;
    &__title{
        margin-left: 403px;
        margin-top: 96px;
        margin-bottom: 85px;
        h1{
            font-family: sans-serif;
            font-size: 28px;
            color: #424753;
        }
    }
}

.featured__text__descriptions{
    &__left{
        float: left;
        width: 487px;
        height: 192px;
        h2{
            font-size: 16px;
            font-family: "roboto";
            line-height: 32px;
            color: #424753;
        }
    }

    &__right{
        float: right;
        width: 487px;
        height: 192px;
        h2{
            font-size: 16px;
            font-family: "roboto";
            line-height: 32px;
            color: #424753;
        }
    }
}

.featured__pictures{
    height: 800px;

    &__picture{
        float: left;
        background-color: #312F38;
        width: 540px;
        height: 400px;
        img{
            background-color: #312F38;
            float: left;
            width: 540px;
            height: 400px;
        }
    }    
}

.picture__description{
    width: 353px;
    height: 134px;
    padding-top: 133px;
    margin: 0 auto;
    h2{
        margin-top: 36px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
    }
    img{
        width: 70px;
        height: 23px;
    }

    &__text{
        img{
            width: 17.2px;
            height: 10.6px;
            float: right;
            margin-right:65%; 
        }
    }

    &__tag{
        float: left;
        width: 120px;
        img{
            width: 15.87px;
            height: 15.74px;
        }
        h2{
            margin: 0;
            float: left;
            font-family: "roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.6);
        }
    
    }

    &__time{
        float: left;

        img{
            width: 15.48px;
            height: 15.48px;
        }

        h2{
            float: left;
            margin: 0;
            font-family: "roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

.picture__tag-clock__wrapper{
    width: 300px;
    height: 20px;
}

.signup{
    width: 100%;
    padding-bottom: 147px;
    background-color: #F4F5F7;
    &__wrapper{
        width: 1140px;
        margin: 0 auto;
    }

    &__text{
        margin-left: 491px;
        padding-top: 91px;
        margin-bottom: 56px;

        h2{
            font-family: "roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 38px;
            color: #424753;
        }
    }

    &__form{

        &__name{
            width: 263px;
            height: 60px;
            background: #FFFFFF;
            border: 1px solid #E0E0E5;
            box-sizing: border-box;
            border-radius: 4px;
            background-image: url("/images/svg/man.svg");
            background-repeat: no-repeat;
            background-position-x: 12px;
            background-position-y: 20px;
            padding-left: 40px;

            &:hover{
                background: #FFFFFF;
                border: 1px solid #8779BD;
                box-sizing: border-box;
                box-shadow: 0px 0px 4px rgba(135, 121, 189, 0.53);
                border-radius: 4px;
                background-image: url("/images/svg/man.svg");
                background-repeat: no-repeat;
                background-position-x: 12px;
                background-position-y: 20px;
            }
        }

        &__email{
            width: 263px;
            height: 60px;
            background: #FFFFFF;
            border: 1px solid #E0E0E5;
            box-sizing: border-box;
            border-radius: 4px;
            background-image: url("/images/svg/email.svg");
            background-repeat: no-repeat;
            background-position-x: 12px;
            background-position-y: 20px;
            padding-left: 40px;

            &:hover{
                background: #FFFFFF;
                border: 1px solid #8779BD;
                box-sizing: border-box;
                box-shadow: 0px 0px 4px rgba(135, 121, 189, 0.53);
                border-radius: 4px;
                background-image: url("/images/svg/email.svg");
                background-repeat: no-repeat;
                background-position-x: 12px;
                background-position-y: 20px;
            }
        }

        &__password{
            width: 263px;
            height: 60px;
            background: #FFFFFF;
            border: 1px solid #E0E0E5;
            box-sizing: border-box;
            border-radius: 4px;
            background-image: url("/images/svg/password.svg");
            background-repeat: no-repeat;
            background-position-x: 12px;
            background-position-y: 20px;
            padding-left: 40px;

            &:hover{
                background: #FFFFFF;
                border: 1px solid #8779BD;
                box-sizing: border-box;
                box-shadow: 0px 0px 4px rgba(135, 121, 189, 0.53);
                border-radius: 4px;
                background-image: url("/images/svg/password.svg");
                background-repeat: no-repeat;
                background-position-x: 12px;
                background-position-y: 20px;
            }
        }
        button{
            width: 259px;
            height: 60px;
            background: #8779BD;
            border: 2px solid #8779BD;
            box-sizing: border-box;
            border-radius: 40px;
            color: white;
            font-family: "roboto";
            font-size: 13px;
        }
    }
}

.form__terms-of-use{
    width: 296px;

    input[type="checkbox"]{
        float: left;
        border: 2px solid #A1A3A9;
        margin-top: 30px;
    }

    h2{
        margin: 0;
        margin-left: 10px;
        margin-top: 27px;
        float: left;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: rgba(66, 71, 83, 0.8);   
    }
}

.footer{
    background: #312F38;
    width: 100%;
    padding-bottom: 200px;

    &__wrapper{
        width: 1140px;
        margin: 0 auto;
    }
}

.footer__info{
    width: 236px;
    height: 69px;
    padding-top: 82px;
    float: left;
    &__logo{
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 33px;
    }

    &__corp{
        
        h2{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }
}

.footer__navigation{
    float: right;
    width: 600px;
    height: 24px;
    margin-top: 97px;

    &--info{
        border-bottom: 2px solid #e3dedb;
    }

    img{
        margin: 0;
    }

    a:link{
        color: white;
        text-decoration: none;
    }

    a:visited{
        color: white;
    }

    a:hover{
        color: wheat;
    }

    a:active{
        color: white;
    }

    ul{
        list-style: none;
        font-family: "roboto";
        font-size: 15px;    
    }

    li{
        display: inline;
        margin-right: 30px;
    }
}

.login__form{
    position: absolute;
    width: 900px;
    height: 600px;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__logo{
        margin-left: 43%;
        margin-top: 5%;
        img{
            margin-left: 1%;
            width: 100px;
            height: 100px;
        }

        &__text{
            h2{
                margin-top: 40px;
                margin-right: 20px;
                font-family: roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 38px;  
                color: white;
            }
        }
    }

    &__fields{
        margin-top: 10%;
        margin-left: 18%;

        &__email{

            padding-left: 50px;
            margin-right: 30px;
            margin-bottom: 30px;
            width: 263px;
            height: 60px;
            background: #FFFFFF;
            border: 1px solid #E0E0E5;
            box-sizing: border-box;
            border-radius: 4px;
            background-image: url("/images/svg/email.svg");
            background-repeat: no-repeat;
            background-position-x: 12px;
            background-position-y: 20px;

            &:hover{
                background: #FFFFFF;
                border: 1px solid #8779BD;
                box-sizing: border-box;
                box-shadow: 0px 0px 4px white;
                border-radius: 4px;
                background-image: url("/images/svg/email.svg");
                background-repeat: no-repeat;
                background-position-x: 12px;
                background-position-y: 20px;
    
            }
        }

        &__password{
            padding-left: 50px;
                
                margin-bottom: 30px;
                width: 263px;
                height: 60px;
                background: #FFFFFF;
                border: 1px solid #E0E0E5;
                box-sizing: border-box;
                border-radius: 4px;
                background-image: url("/images/svg/password.svg");
                background-repeat: no-repeat;
                background-position-x: 12px;
                background-position-y: 20px;

            &:hover{
                background: #FFFFFF;
                border: 1px solid #8779BD;
                box-sizing: border-box;
                box-shadow: 0px 0px 4px white;
                border-radius: 4px;
                background-image: url("/images/svg/password.svg");
                background-repeat: no-repeat;
                background-position-x: 12px;
                background-position-y: 20px;

            }
        }   
    }

    &__submit{  
        button{
            margin-left: 30%;
            width: 350px;
            height: 60px;
            background: transparent;
            border: 2px solid white;
            box-sizing: border-box;
            border-radius: 40px;
            color: white;
            font-family: "roboto";
            font-size: 13px;
        }
    }
}

@media only screen and(max-width: 600px){
    .header{
        width: 100vw;
    }

    .navigation{
        width: 100vw;
    }
    
    .navigation__logo{
        float: left;
        margin-left: 43%;
    }

    .navigation__main{
        font-size: 16px;
        margin: 0;
        margin-left: 4%;
        float: left;
        li{
            margin-right: 10px;
        }
    }
    
    .navigation__main--info{
        border-bottom: 0px;
        float: left;
    }

    .navigation__main--info{
        display: block;
    }

    .header__center__items{
        h1{
            font-size: 22px;
        }

        h2{
            font-size: 16px;
        }
    }    

    .header__social{
        top: 90%;
        left: 60%;
        width: 300px;
    }

    .intro{
        width: 100vw;
    }
    
    .statistics{
        width: 100vw;
    }

    .statistics__wrapper{
        width: 100%;
    }

    .statistics__achievements{
        width: 100%;
    }

    .statistics__likes{
        margin-left: -4px;
        width: 100%;
    }

    .statistics__line{
        margin-left: 50px;
    }

    .statistics__writings{
        width: 100%;
    }

    .statisticis__text{
        margin-left: 0px;
        width: 100%;
        p{
            font-size: 13px;
        }
    }

    .subscription{
        width: 100vw;
    }

    .subscription__offers{
        width: 100%;
    }

    .subscription__title{
        margin: 0;
        margin-left: 20%;
        h2{
            font-size: 16px;
            float: left;
        }
    }

    .article__title{
        width: 100vw;   
    }

    .center__article__descripition{
        margin-left: -15px;
    }

    .subscription__offers__article{
        float: left;
        margin: 0;
    }

    .subscription__offers__article__center{
        width: 100vw;
    }

    .center__article__subscribe__button{
        margin-left: -6%;
    }

    .center__article__title{
        width: 100vw;
    }

    .center__article__line{
        width: 300px;
    }

    .quotes{
        width: 100vw;
    }

    .quotes__wrapper{
        width: 100%;
    }

    .quotes__text__ball{
        margin: 0;
        margin-left: 20%;
    }

    .description__text{
        margin: 0;
    }

    .description__text{
        margin: 0;
        margin-left: 37%;
        margin-bottom: 30px;
        width: 200px;
        h2{
            font-size: 16px;
        }
    }

    .description__author{
        margin: 0;
        width: 200px;
        margin-left: 65%;
        margin-bottom: 30px;
    }

    .quotes{
        float: left;
    }

    .quotes__text{
        float: left;
    }

    .quotes__balls{
        margin: 0;
        float: left;
        margin-left: 7%;
    }

    .featured{
        float: left;
        width: 100vw;
        margin-bottom: -180px;
    }

    .featured__pictures__picture{
        width: 100vw;
        img{
            width: 100vw;
        }
    }

    .featured__wrapper{
        width: 100vw;
        background-color: white;
        padding-top: 10px;
    }

    .featured__text__title{
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
    }

    .featured__text__descriptions__left{
        width: 100%;
        float: left;
        background-color: white;
        h2{
            font-size: 10px;
        }
    }

    .featured__text__descriptions__right{
        width: 100%;
        float: left;
        background-color: white;
        h2{
            font-size: 10px;
        }
    }

    .featured__pictures{
        width: 100%;
        &__picture{
            img{
                width: 100vw;
            }
        }
    }

    .picture__description{
        width: 100vw;
        float: left;
    }

    .signup{
        margin: 0;
        float: left;
        width: 100vw;
        &__text{
            margin: 0;
        }
        &__form{
            input{
                margin-bottom: 10px;
            }
        }
    }

    .signup__wrapper{
        width: 100%;
        margin-left: 40px;
    }

    .footer{
        width: 100vw;
        background-color: #312F38;
        padding-bottom: -20%;
        &__wrapper{
            width: 100vw;
            margin: 0;
        }
        &__navigation{
            margin-top: 6px;
            float: left;
            li:first-child{
                font-size: 12px;
                margin-left: -20%;
            }
            li{
                margin-right: 3%;
                margin-left: 2%;
                font-size: 12px;
            }
        }
        &__info{
            float: left;
            width: 50%;
            margin-left: 30%;
        }
    }

    .login__form{
        input{
            display: block;
            margin-left: 20%;
        }
    }
}