* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: "roboto";
    src: url("fonts/roboto/Roboto-Black.ttf");
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background: linear-gradient(211.79deg, #2B8BE3 6.12%, #663FB5 90.47%), url("../images/svg/diamond.svg");
    mix-blend-mode: normal;
    opacity: 0.8;
}

.navigation{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.navigation__logo{
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 35px;  
}

.navigation__main{
    float: right;
    width: 450px;
    height: 24px;
    margin-top: 57px;
}

.navigation__main--info{
    border-bottom: 2px solid #e3dedb;
}

.navigation__main a:link{
    color: white;
    text-decoration: none;
}

.navigation__main a:visited{
    color: white;
}

.navigation__main a:hover{
    color: wheat;
}

.navigation__main a:active{
    color: white;
}

.navigation__main ul{
    list-style: none;
    font-family: "roboto";
    font-size: 15px;    
}

.navigation__main li{
    display: inline;
    margin-right: 34px;
}

.navigation__main li{
    display: inline;
    margin-right: 34px;
}

.header__center__items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header__center__items__title{
    font-family: sans-serif
}

.header__center__items__title h1{
    font-size: 80px;
    color: white;
}

.header__center__items__title h2{
    font-size: 26px;
    padding-left: 10px;
    color: white;
}

.header__center__items__button{
    padding-left: 230px;
    padding-top: 65px;
}

.header__center__items__button button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-0%);

    width: 236px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    
    font-family: "roboto";
    font-size: 13px;
    color: #6B59B4;
}

.header__center__items__button img{
    float: left;
    padding-left: 30px;
}

.header__center__items__button--position{
    float: right;
    padding-right: 38px;
    padding-top: 3px;
}

.header__social {
    position: absolute;
    top: 95.8%;
    left: 50%;
    transform: translate(-50%,-4.2%);
}

.header__social ul{
    list-style: none;
}

.header__social li{
    display: inline;
    color: white;
    font-family: sans-serif;
}

.header__social__twitter{
    padding-right: 25px;
    border-right: 2px solid #e3dedb;
}

.header__social__linkedin{
    padding-right: 25px;
    padding-left: 15px;
    border-right: 2px solid #e3dedb;
}

.header__social__facebook{
    padding-left: 15px;
}

.intro{
    position: relative;
    background-color: #F4F5F7;
    height: 236px;
}

.intro__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro__text h2 {
    font-family: sans-serif;
    font-size: 28px;
    color: #424753;
}

.intro__text h3 {
    font-family: sans-serif;
    font-size: 16px;
    color: #424753;
}

.statistics{
    height: 523px;
    background-color: #FFFFFF;
    padding-top: 69px;
}

.statistics__wrapper{
    margin: 0 auto;
    height: 523px;
    width: 1140px;
    position: relative;
}

.statistics__writings{
    float: left;
    height: 350px;
    width: 369px;
    background-color: white;
    margin-right: 15px;
}

.statistics img{
    padding-left: 135px;
    padding-bottom: 26px;
}

.statisticis__text{
    text-align: center;
    font-family: "roboto";
}

.statisticis__text h2{
    padding-bottom: 18px;
    color: #424753;
    font-size: 36;
}

.statisticis__text h3{
    padding-bottom: 31px;
    color: #424753;
    font-size: 16;
}

.statisticis__text p{
    padding-bottom: 31px;
    color: #424753;
    font-size: 16;
}

.statistics__line{
    width: 261px;
    height: 37px;
    border-top: 2px solid #e3dedb;
    margin-left: 50px;
}

.statistics__achievements{
    float: left;
    height: 350px;
    width: 369px;
} 

.statistics__likes{
    float: left;
    height: 350px;
    width: 369px;
    margin-left: 15px;
}

.subscription{
    height: 776px;
    background-color: #F4F5F7;
    padding-top: 96px;
}

.subscription__offers{
    position: relative;
    width: 1140px;
    height: 776px;
    margin: 0 auto;
}

.subscription__title{
    margin-left: 400px;
    margin-bottom: 77px;
}

.subscription__title h2{
    font-family: "roboto";
    font-size: 28px;
    color: rgba(66, 71, 83, 0.8);
}

.subscription__offers__article__center{
    float: left;
    width: 416px;
    background-color: white;
    border: 2px solid rgba(108, 89, 180, 0.75);
    position: sticky;   
    z-index: 1;
    padding-bottom: 32px;
}

.center__article__title{
    text-align: center;
    height: 45px;
    width: 416px;
    background-color:rgba(108, 89, 180, 0.75);
    color: white;
    padding-top: 16px;

}

.center__article__descripition h3{
    margin-top: 31px;
    margin-bottom: 21px;
    margin-left: 73px;
    text-align: center;
    font-family: "roboto";
    font-size: 16px;
    width: 270px;
    color: #424753;
}

.center__article__price{
    width: 420px;
    height: 116px;
}

.center__article__price h1{
    font-size: 68px;
    float: left;
    margin-bottom: 30px;
    color: #424753;

}

.center__article__price h2{
    margin-top: 39px;
    float: left;
    margin-left: 135px;
    margin-right: 6px;
    font-size: 28px;
    color: #424753;

}

.center__article__price h3{
    margin-top: 85px;
    float: left;
    font-size: 13px;
    color: rgba(66, 71, 83, 0.8);
    font-family: "roboto";
}

.center__article__specs__item{
    text-align: center;
    margin-bottom: 21px;
}

.center__article__specs__item h3{
    margin-bottom: 28px;
    font-size: 16px;
    color: #424753;
    font-family: "roboto";
}

.center__article__line{
    width: 361px;
    border-top: 2px solid #e3dedb;
    margin-left: 30px;
}

.center__article__subscribe__button button{
    margin-top: 60px;
    margin-left: 90px;
    width: 236px;
    height: 60px;
    border: 2px solid rgba(108, 89, 180, 0.75);
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #6C59B4;
    color: white;
    font-family: "roboto";
}

.subscription__offers__article{
    font-family: "roboto";
    margin-top: 23px;
    float: left;
    width: 360px;
    padding-bottom: 32px;
    background-color: #FFFFFF;
}

.article__title{
    text-align: center;
    background-color: #ECEFF3;
    width: 100%;
    color: rgba(66, 71, 83, 0.8);
    padding-top: 19px;
    padding-bottom: 19px;
}

.article__descripition h3{
    margin-top: 31px;
    margin-bottom: 21px;
    width: 270px;
    margin-left: 44px;
    text-align: center;
    font-size: 16px;
    font-family: "roboto";
    color: #424753;

}

.article__price{
    width: 420px;
    height: 116px;
}

.article__price h1{
    font-size: 68px;
    float: left;
    margin-bottom: 30px;
    color: #424753;

}

.article__price h2{
    margin-top: 39px;
    float: left;
    margin-left: 107px;
    margin-right: 6px;
    font-size: 28px;
    color: #424753;

}

.article__price h3{
    margin-top: 85px;
    float: left;
    font-size: 13px;
    font-family: "roboto";
    color: rgba(66, 71, 83, 0.8);
}

.article__specs__item{
    text-align: center;
    margin-bottom: 21px;
}

.article__specs__item h3{
    margin-bottom: 28px;
    font-size: 16px;
    color: #424753;
    font-family: "roboto";
}

.article__line{
    width: 300px;
    border-top: 2px solid #e3dedb;
    margin-left: 30px;
}

.article__subscribe__button button{
    margin-left: 70px;
    width: 236px;
    height: 60px;
    border: 2px solid rgba(108, 89, 180, 0.75);
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #FFFFFF;
    color: rgba(108, 89, 180, 0.75);
    font-family: "roboto";
}

.quotes{
    width: 100%;
    height: 500px;
    background: linear-gradient(200.09deg, #2B8BE3 6.12%, #663FB5 90.47%);
    mix-blend-mode: normal;
    opacity: 0.8;
}

.quotes__wrapper{
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.quotes__text__ball{
    background-image: url("/images/svg/ball.svg") no-repeat;
    padding-left: 47%;
    padding-top: 90px;
}
